1.1b1/eatdrinkfeelgood.dtd

<!-- ====================================================================== 
     Eatdrinkfeelgood data format DTD
     Version 1.1b1                                                       

     $Date: 2002/12/20 04:44:27 $

     SYSTEM http://www.eatdrinkfeelgood.info/1.1b1/eatdrinkfeelgood.dtd    
     PUBLIC "-//Aaron Straup Cope//DTD Eatdrinkfeelgood 1.1b1//EN//XML"    

     This work is licensed under the Creative Commons Attribution-ShareAlike 
     License. 

     To view a copy of this license, visit 

        http://creativecommons.org/licenses/by-sa/1.0 

     or send a letter to 

        Creative Commons, 
        559 Nathan Abbott Way, 
        Stanford, California 
        94305, USA.

     Copyright (c) 2001-2002 Aaron Straup Cope. All Rights Reserved. 
     http://www.eatdrinkfeelgood.info

     ====================================================================== -->

<!-- ====================================================================== 
     ENTITIES                                                               

     ====================================================================== -->

<!-- ====================================================================== 
     local.default.version                                                         

     What time is it?                                                       
     ====================================================================== -->

<!ENTITY % local.default.version "1.1">

<!-- ====================================================================== 
     local.default.content

     ====================================================================== -->

<!ENTITY % local.default.content "(#PCDATA)">

<!-- ====================================================================== 
     local.meta.name                                                        

     Dublin Core. If you're in to that kind of thing.                       
     It's optional, if you're not.                                          
     ====================================================================== -->

<!ENTITY % local.meta.name "(DC.Title | DC.Subject | DC.Description | DC.Type | DC.Source | DC.Relation | DC.Coverage | DC.Creator | DC.Publisher | DC.Contributor | DC.Rights | DC.Date | DC.Format | DC.Identifier | DC.Language)">

<!-- ====================================================================== 
     local.category.types

     For the database wonks out there. Use the primary key, Luke.           
     I have no plans of adding something similar for ingredients. That's    
     just weird.                                                            
     ====================================================================== -->

<!ENTITY % local.category.types "(id|name)">

<!-- ====================================================================== 
     local.category.content                                                     
     ====================================================================== -->

<!ENTITY % local.category.content "%local.default.content;">

<!-- ====================================================================== 
     local.time.unit                                                     
     ====================================================================== -->

<!ENTITY % local.time.unit "(days|(hours,minutes?))">

<!-- ====================================================================== 
     local.measure.unit                                                     

     This came out of the Joy of Cooking.                                   

     I'm open to suggestions. I'd to keep the list to things that can be    
     converted from one measure to another, so thing like "large" would 
     best reserved for the customunit element.                              
     ====================================================================== -->

<!ENTITY % local.measure.unit "(kilogram|gram|milligram|litre|millilitre|gallon|quart|pint|gill|cup|tablespoon|teaspoon|bushel|peck|pound|dram|ounce)">

<!-- ====================================================================== 
     local.image.type                                                       

     I don't know if this is really necessary.                              
     It just seemed like the right thing to do.                             
     ====================================================================== -->

<!ENTITY % local.image.type "(diagram|photo|illustration)">

<!-- ======================================================================
     Eatdrinkfeelgood ELEMENTS                                                              

     ====================================================================== -->

<!-- ====================================================================== 
     /eatdrinkfeelgood                                                      

     ====================================================================== -->

<!ELEMENT eatdrinkfeelgood (head,(menu|recipe),revhistory)>
<!ATTLIST eatdrinkfeelgood version CDATA #FIXED "%local.default.version;">

<!-- ====================================================================== 
     /eatdrinkfeelgood/head                                                 

     ====================================================================== -->

<!ELEMENT head ((meta*|meta?))>

<!-- ====================================================================== 
     /eatdrinkfeelgood/head/meta                                            

     ====================================================================== -->

<!ELEMENT meta EMPTY>
<!ATTLIST meta
  name    %local.meta.name; #REQUIRED
  content CDATA             #REQUIRED
  scheme  CDATA             #IMPLIED
  lang    CDATA             #IMPLIED >

<!-- ====================================================================== 
     /eatdrinkfeelgood/menu                                                 

     ====================================================================== -->

<!ELEMENT menu   (name,abstract?,course*)>

<!-- ======================================================================
     /eatdrinkfeelgood/menu/course                                         
                                                                       
     ====================================================================== -->

<!ELEMENT course (name,abstract?,recipe*,notes?,history?)>

<!-- ====================================================================== 
     */recipe                                                               

     ====================================================================== -->

<!ELEMENT recipe (name,source,yield?,time?,(category*|category?),ingredients,directions,notes?,history?)>

<!-- ====================================================================== 
     */recipe/source                                                        
                                                                        
     ====================================================================== -->

<!ELEMENT source (author?,publication?)>

<!-- ====================================================================== 
    */recipe/source/publication

     ====================================================================== -->

<!ELEMENT publication (name,date?)>
<!ATTLIST publication isbn CDATA #IMPLIED>

<!-- ======================================================================
     */recipe/yield                                                        
     ====================================================================== -->

<!ELEMENT yield (amount,measure,detail)>

<!-- ====================================================================== 
     */recipe/time 

     ====================================================================== -->

<!ELEMENT time (preparation,cooking)>

<!-- ====================================================================== 
     */recipe/time/preparation
     ====================================================================== -->

<!ELEMENT preparation %local.time.unit;>

<!-- ====================================================================== 
     */recipe/time/cooking
     ====================================================================== -->

<!ELEMENT cooking %local.time.unit;>

<!-- ====================================================================== 
     */recipe/category                                                      

     ====================================================================== -->

<!ELEMENT category %local.category.content;>
<!ATTLIST category type %local.category.types; #REQUIRED>

<!-- ======================================================================
     */recipe/ingredients                                                  

     It's not like meals just grow on trees...or something like that.      
     ====================================================================== -->

<!ELEMENT ingredients (set*|ing*)>

<!-- ====================================================================== 
     */recipe/ingredients/set                                              

     ====================================================================== -->

<!ELEMENT set (ing*)>
<!ATTLIST set name CDATA #REQUIRED>

<!-- ====================================================================== 
     */recipe/ingredients/ing                                               

     ====================================================================== -->

<!ELEMENT ing (amount,measure,item,detail?,image?)>

<!-- ====================================================================== 
     */recipe/ingredients/ing/item                                          

     The ingredient itself. e.g. "egg"                                      
     ====================================================================== -->

<!ELEMENT item (#PCDATA)>

<!-- ====================================================================== 
     */recipe/directions                                                    

     ====================================================================== -->

<!ELEMENT directions (stage*|step*)>

<!-- ====================================================================== 
     */recipe/directions/stage

     ====================================================================== -->

<!ELEMENT stage (step*)>
<!ATTLIST stage name CDATA #REQUIRED>

<!-- ====================================================================== 
     */recipe/directions/step

     ====================================================================== -->

<!ELEMENT step (para*,(image?|image*))>

<!-- ====================================================================== 
     /eatdrinkfeelgood/revhistory                                           

     This is here because ultimately the raw XML is not meant to be written 
     by a human. Do yourself a favour and get a computer program to manage  
     this data.                                                             
     ====================================================================== -->

<!ELEMENT revhistory (rev)>

<!-- ====================================================================== 
     /eatdrinkfeelgood/revhistory/rev                                       
                                                                        
     ====================================================================== -->

<!ELEMENT rev (version,author,date,changes)>

<!-- ====================================================================== 
     /eatdrinkfeelgood/revhistory/rev/version                               

     ====================================================================== -->

<!ELEMENT version (#PCDATA)>

<!-- ====================================================================== 
     /eatdrinkfeelgood/revhistory/rev/changes                               

     ====================================================================== -->

<!ELEMENT changes (para*)>

<!-- ====================================================================== 
     COMMON ELEMENTS USED ACROSS OTHER ELEMENTS                             

     ====================================================================== -->

<!-- ====================================================================== 
     */notes                                                         

     Notes may also double as comments.                                     
     ====================================================================== -->

<!ELEMENT notes (note*,(image?|image*))>

<!-- ====================================================================== 
     */notes/note                                                    
                                                                        
     ====================================================================== -->

<!ELEMENT note (para*,author,date)>

<!-- ======================================================================
     */history                                                     

     Because every meal has a story.                                        
     ====================================================================== -->

<!ELEMENT history (para*,(image?|image*),author?,date?)>

<!-- ====================================================================== 
     */recipe/time/(prep|cooking)/days                                                                 

     ====================================================================== -->

<!ELEMENT days    (#PCDATA)>

<!-- ====================================================================== 
     */recipe/time/(prep|cooking)/hours

     ====================================================================== -->

<!ELEMENT hours   (#PCDATA)>

<!-- ====================================================================== 
     */recipe/time/(prep|cooking)/minutes

     ====================================================================== -->

<!ELEMENT minutes (#PCDATA)>

<!-- ====================================================================== 
     */amount                                                               

     Typically a numeric unit.                                              
     ====================================================================== -->

<!ELEMENT amount (#PCDATA)>

<!-- ====================================================================== 
     */measure                                                              

     ====================================================================== -->

<!ELEMENT measure (unit?|customunit?)>

<!-- ====================================================================== 
     */measure/unit                                                         

     ====================================================================== -->

<!ELEMENT unit EMPTY>
<!ATTLIST unit content %local.measure.unit; #REQUIRED>

<!-- ====================================================================== 
     */measure/customunit                                                   

     In anticipation of the inevitable incompleteness of the measure/unit  
     element, here's a roll-yer-own.                                       
     ====================================================================== -->

<!ELEMENT customunit (#PCDATA)>

<!-- ====================================================================== 
     */detail                                                               

     e.g. "lightly beaten"                                                  
     ====================================================================== -->

<!ELEMENT detail (#PCDATA)>

<!-- ====================================================================== 
     */abstract                                                             

     ====================================================================== -->
     
<!ELEMENT abstract (para*)>

<!-- ====================================================================== 
     */name                                                                 

     ====================================================================== -->
     
<!ELEMENT name (common,(other*|other?))>

<!-- ====================================================================== 
     */name/common                                                          

     "common" is whatever you call it.                                     
     ====================================================================== -->

<!ELEMENT common (#PCDATA)>

<!-- ======================================================================
     */name/other                                                          

     "other" is whatever someone else calls it.                             
     ====================================================================== -->

<!ELEMENT other  (#PCDATA)>

<!-- ======================================================================
     */author                                                              

     ====================================================================== -->

<!ELEMENT author (firstname,othername?,surname)>

<!-- ======================================================================
      */author/firstname                                                    

     ====================================================================== -->

<!ELEMENT firstname (#PCDATA)>

<!-- ======================================================================
     */author/othername                                                    

     ====================================================================== -->

<!ELEMENT othername (#PCDATA)>

<!-- ====================================================================== 
     */author/surname                                                       

     ====================================================================== -->

<!ELEMENT surname (#PCDATA)>

<!-- ====================================================================== 
     */date                                                                 

     ====================================================================== -->

<!ELEMENT date   (year,month,day)>

<!-- ====================================================================== 
     */date/year                                                            

     ====================================================================== -->

<!ELEMENT year  (#PCDATA)>

<!-- ====================================================================== 
     */date/month                                                            

     ====================================================================== -->

<!ELEMENT month (#PCDATA)>

<!-- ====================================================================== 
     */date/day                                                           

     ====================================================================== -->

<!ELEMENT day   (#PCDATA)>

<!-- ====================================================================== 
     */image                                                             

     ====================================================================== -->

<!ELEMENT image (title,src,caption?)>
<!ATTLIST image type %local.image.type; #REQUIRED>

<!-- ====================================================================== 
     */title                                                                

     ====================================================================== -->

<!ELEMENT title (#PCDATA)>

<!-- ====================================================================== 
     */image/src                                                          

     ====================================================================== -->

<!ELEMENT src (#PCDATA)>

<!-- ====================================================================== 
     */image/caption                                                            

     ====================================================================== -->

<!ELEMENT caption (para*)>

<!-- ====================================================================== 
     */para                                                                 

     ====================================================================== -->

<!ELEMENT para   (#PCDATA)>

<!-- ====================================================================== 
     FIN

     ====================================================================== -->
